*{margin: 0; padding: 0; box-sizing: border-box; font-family: "Cormorant Garamond", serif}

header nav{}

#i1:hover{color: rgb(97, 97, 97); background-color: transparent}

#sec3 h6:hover, h4:hover{cursor: pointer; color: black;}

.pic{overflow: hidden;}

.pic img{transform: scale(1); transition: .55s ease-in-out; position: relative;
border-radius: 10px;}

.pic img:hover{transform: scale(1.2);}


@media (min-width: 475px){
    video {min-width: 475px;}
}


@media (min-width: 640px){
    video {min-width: 640px;}
}


@media (min-width: 768px){
    video {min-width: 768px;}
}


@media (min-width: 1024px){
    video {min-width: 1024px;}
}


@media (min-width: 1280px){
    video {min-width: 1280px;}
}


@media (min-width: 1536px){
    video {min-width: 1536;}
}




.pic2 img:hover{transform: translate(0px,-5px); transition: 0.55s ease-in-out;
opacity: .8; cursor: pointer;} 


#sec6 .col-4{position: relative;}

#sec6 .text h1{position: absolute; top: 0; left: 0; z-index: 999; color: white;}


.vid{position: relative;}

.vid video{height: 400px; width: 100%; object-fit: cover; border-radius: 10px;}

.vid h1{position: absolute; top: 0; left: 0; color: white; font-weight: 800;}

.vid button{position: absolute; top: 60%; left: 5%}

#sec7 ul li{list-style-type: none;}

#sec7{background-color: rgb(0, 0, 0); color: white;}

#sec7 input:placeholder-shown{color: white;}

#sec7 input::placeholder{color: white;}

#follow::after{content: ''; width: 100%; display: inline-block; 
height: 1px; margin: 0; background-color: white;}


.text2{color: white; text-shadow: 1px 1px 1px black; opacity: 0;
transition: 0.55s ease-in-out; transform: translate3d(0, 0rem ,0);}

#colll:hover .text2{opacity: 1; transform: translate3d(0, 1rem, 0);}

#colll1:hover .text2{opacity: 1; transform: translate3d(0, 1rem, 0);}

#colll2:hover .text2{opacity: 1; transform: translate3d(0, 1rem, 0);}

#colll3:hover .text2{opacity: 1; transform: translate3d(0, 1rem, 0);}

#colll4:hover .text2{opacity: 1; transform: translate3d(0, 1rem, 0);}

#colll5:hover .text2{opacity: 1; transform: translate3d(0, 1rem, 0);}

#colll6:hover .text2{opacity: 1; transform: translate3d(0, 1rem, 0);}










